.p1 {
    color: blue;
    font-family: Verdana;
    font-size: 20px;
}
.p2 {
    color: red;
    font-family: "Sans Serif Collection";
    font-size: 10px;
}
.p3 {
    color: green;
    font-family: "Fira Code";
    font-size: 15px;
}
.contenedor-divs {
    display: flex;
}

.caja {
    width: 400px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
}

#caja1 { background-color: #cedc96; }
#caja2 { background-color: #98d7c7; }
#caja3 { background-color: #c79add; }


h3 {
    font-weight: normal;
}

#caja1 a, #caja2 a {
    width: 100px;
    height: 50px;
    color: white;
    text-decoration: underline;
    display: flex;

}

.rojo { background-color: red; }
.verde { background-color: green; }
.azul { background-color: darkblue; }

#caja1 a {
    display: inline-block;/
    line-height: 50px;
}

#caja2 a {
    display: block;
    line-height: 50px;
}

#caja3 a {
    color: white;
    margin-right: 5px;
}

#caja3 a:hover {
    font-weight: bold;
    color: darkblue;
}
